.footer {
  width: 100%;
  max-width: 1222px;
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
  flex-direction: row;
  font-size: 20px;
  line-height: 50px;
}

@media (max-width: 1240px) {
  .footer {
    width: 768px;
    margin: auto;
  }
}

@media (max-width: 380px) {
  .footer {
    width: 380px;
    padding: 22px 0px 0px;
    flex-direction: column;
    line-height: 24px;
    gap: 21px;
  }
}

.footer-copyright {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media (max-width: 380px) {
  .footer-copyright {
    justify-content: center;
  }
}

.footer-text {
  display: flex;
  justify-content: center;
}

.footer-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-end;
  align-items: center
}

@media (max-width: 380px) {
  .footer-links {
    justify-content: center;
  }
}

.footer-links a {
  width: 32px;
  height: 32px;
}